<div class="container">
    <h1 class="text-center my-4">Cloud classifier</h1>
    <app-pic-loader (predictionResult)="handlePredictionResult($event)"></app-pic-loader>
    <div *ngIf="predictions.length" class="mt-4">
        <h3>Prediction result</h3>
        <p>Your photo shows <b>{{ labelToNameMap.get(this.bestLabel) }}</b></p>
        <div>
            <canvas baseChart [datasets]="[chartDataset]" [labels]="chartLabels" [type]="'bar'"
                [options]="chartOptions">
            </canvas>
        </div>
    </div>
</div>