<div class="container">
    <h1 class="text-center my-4">Cloud classifier</h1>
    <app-pic-loader (predictionResult)="handlePredictionResult($event)"></app-pic-loader>
    <div class="mt-4">
        <p *ngIf="predictions.length" class="text-muted">Images submitted</p>
    </div>

    <div class="mt-4">
        <h3>Prediction result</h3>
        <h3>Your cloud is {{ labelToName.get(this.bestLabel) }}</h3>
        <div *ngIf="predictions.length">
            <canvas baseChart [datasets]="[chartDataset]" [labels]="chartLabels" [type]="'bar'" [options]="chartOptions">
            </canvas>
        </div>
    </div>
</div>