:root {
    --night: #0a090cff;
    --antiflash-white: #f0edeeff;
    --midnight-green: #07393cff;
    --caribbean-current: #2c666eff;
    --non-photo-blue: #90ddf0ff;
}

body {
    font-family: Arial, sans-serif;
    background-color: var(--antiflash-white);
    margin: 0;
    padding: 0;
    color: var(--night)
}

.container {
    max-width: 1200px;
    margin: 20px auto;
}

h1 {
    color: var(--night);
    font-size: 2.5rem;
    font-weight: bold;
    text-align: center;
    margin-bottom: 1rem;
}

h3 {
    color: var(--midnight-green);
    font-size: 1.8rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
}

p {
    color: var(--night);
    font-size: 1rem;
    line-height: 1.5;
    margin: 0.5rem 0;
}

.card {
    border-radius: 0.5rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.card-img-top {
    object-fit: cover;
    height: 150px;
    border-radius: 0.5rem 0.5rem 0 0;
}

button {
    padding: 10px 15px;
}

.text-muted {
    font-style: italic;
    color: var(--caribbean-current) !important;
}

.row {
    margin-top: 10px;
}

.modal-content {
    background: var(--antiflash-white);
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    max-width: 90%;
    max-height: 90%;
}
